/* Partie commune à toutes les pages */
/*Background*/
.Private--html{
    height: 100%;
    width: 100%;
    
}

.Private--body{
    background-image: url(../../public/img/Home_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Background */

/* Responsive */
@media screen and (max-width: 768px){
    .Private--body{
        background-image: url(../../public/img/Home_background_tablet.png);
    }
}
/* Responsive */
/* Partie commune à toutes les pages */

/* Dashboard */
.Dashboard--title{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
}

.Dashboard--description{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
}
/* Dashboard */

/* Profile */

.Edit_profile--container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}

/* Modif passwd */
.Profile--password_update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

.Profile--password_update--input{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding-left: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.Profile--password_update--confirm{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.Profile--password_update--confirm:hover{
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
}
/* Modif passwd */

/* Modif profile */

.Profile--profile_update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.Profile--profile_update--input{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding-left: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.Profile--profile_update--confirm{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.Profile--profile_update--confirm:hover{
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
}

.Edit_profile--logout{
    width: 60%;
    margin-left: 20%;
}

.Edit_profile--logout--button{
    width: 30%;
    margin-left: 35%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.Edit_profile--logout--button:hover{
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
}

/* Modif profile */

/* Profile */

/* Edit */
.Edit--title{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
}

.Edit--description{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
}

/* Create */

.Create--message{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
}

/* Create  */
/* Edit */